<main role="main">
	<article class="demo">
		<section>
			<h2><code>date</code> Input</h2>

			<form action="">
				<label for="demo1">Date</label>
				{{date-input value=demo1 inputId="demo1"}}
			</form>
		</section>
		<section>
			<h2><code>datetime-local</code> Input</h2>

			<form action="">
				<label for="demo2">Date</label>
				{{date-input local=true value=demo2 inputId="demo2"}}
			</form>
		</section>
		<section>
			<h2><code>week</code> Input</h2>

			<form action="">
				<label for="demo3">Week</label>
				{{date-input range="week" value=demo3 inputId="demo3"}}
			</form>
		</section>
		<section>
			<h2><code>month</code> Input</h2>

			<form action="">
				<label for="demo4">Month</label>
				{{date-input range="month" value=demo4 inputId="demo4"}}
			</form>
		</section>
		<section>
			<h2><code>time</code> Input</h2>

			<form action="">
				<label for="demo5">Time</label>
				{{time-input value=demo5 inputId="demo4"}}
			</form>
		</section>
	</article>
</main>